@media only screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
  header {
    background-attachment: scroll;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  .hero-text-box {
    padding: 70px 10%;
  }
  .skills i {
    font-size: 5em;
  }
}
