@media only screen and (max-width: 800px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.2em;
  }
  header {
    height: 700px;
  }
  .main-nav {
    background: rgba(34, 40, 49);
    width: 100vw;
  }
  .skills i {
    font-size: 5em;
  }
}
